@font-face {
  font-family: "TT Interfaces";
  src:
    local("TT Interfaces Regular"),
    local("TTInterfaces-Regular"),
    url("./assets/fonts/TTInterfaces-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    /*CUSTOM COLORS */
    --light-purple: 239 82% 65%;
    --white-purple: 240, 100%, 94%;
    --deep-blue: 240, 75.8%, 62.9%;
    --black: 216, 6%, 9%;
    --red: 0, 79%, 63%;
    --red-light: 0, 79%, 95%;
    --border-grey: 240, 12%, 85%;
    --dark-blue: 215, 11%, 34%;
    --bg-grey-light: 240, 11%, 96%;
    --grey-64: 240, 1%, 37%;
    --white: 0, 0%, 100%;
    --dark-gray-70: 208, 7%, 46%;
    --opacity-dark: 0, 0%, 0%, 0.2;
    --opacity-white: 255, 100%, 100%, 0.7;
    --opacity-dark70: 0, 0%, 0%, 0.7;
    --grey-txt: 260, 3%, 21%;
    /*--grey-txt: 227, 10%, 62%;*/
    --deep-green: 126, 100%, 20%;
    --green-light: 126, 87%, 88%;
    --light-blue: 240, 94%, 95%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    /*Custom colors*/
    --light-purple: 239 82% 65%;
    --white-purple: 208, 100%, 17%;
    --deep-blue: 240, 75.8%, 62.9%;
    --black: 216, 65%, 95%;
    --red: 0, 79%, 63%;
    --red-light: 0, 79%, 95%;
    --border-grey: 240, 12%, 35%;
    --dark-blue: 215, 11%, 60%;
    --bg-grey-light: 206, 57%, 7%;
    --grey-64: 240, 1%, 67%;
    --white: 205, 45%, 16%;
    --dark-gray-70: 208, 7%, 46%;
    --opacity-dark: 0, 0%, 0%, 0.2;
    --opacity-white: 255, 100%, 100%, 0.7;
    --opacity-dark70: 0, 0%, 0%, 0.7;
    --grey-txt: 227, 10%, 85%;
    --deep-green: 126, 100%, 20%;
    --green-light: 126, 87%, 88%;
    --light-blue: 240, 64%, 25%;
  }
}

@layer base {
  /* golos-text-latin-wght-normal */
  @font-face {
    font-family: "Golos Text Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 400 900;
    src: url(@fontsource-variable/golos-text/files/golos-text-latin-wght-normal.woff2) format("woff2-variations");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
      U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* golos-text-cyrillic-ext-wght-normal */
  @font-face {
    font-family: "Golos Text Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 400 900;
    src: url(@fontsource-variable/golos-text/files/golos-text-cyrillic-ext-wght-normal.woff2) format("woff2-variations");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }

  /* golos-text-latin-ext-wght-normal */
  @font-face {
    font-family: "Golos Text Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 400 900;
    src: url(@fontsource-variable/golos-text/files/golos-text-latin-ext-wght-normal.woff2) format("woff2-variations");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0,
      U+2113, U+2C60-2C7F, U+A720-A7FF;
  }

  /* golos-text-cyrillic-wght-normal */
  @font-face {
    font-family: "Golos Text Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 400 900;
    src: url(@fontsource-variable/golos-text/files/golos-text-cyrillic-wght-normal.woff2) format("woff2-variations");
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }

  * {
    @apply border-border;
  }

  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }

  body {
    font-family: "Golos Text Variable";
    @apply bg-bgGreyLight text-[clamp(1.4rem,_1.4vw,_1.6rem)];
  }

  textarea {
    resize: none;
  }

  .phone_input:has(input:focus) {
    outline: 1px solid red;
  }

  button:active {
    transform: scale(0.99);
  }

  .custom-scrollbar::-webkit-scrollbar {
    height: 1px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: none;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.css-1dimb5e-singleValue{
  color: hls(var(--black))!important;
}


/* Scrollbar style */

/* Webkit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: none;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
